<div class="container">
        <div *ngIf="isSubmit===false">
            <div class= "topBarre" style="background-color:seagreen">ProjetChatExam</div>
        </div>
        <div *ngIf="isSubmit===true">
                <div class= "topBarre" style="background-color:seagreen"> Connecté : {{ this.model.value.pseudo}}</div>
            </div>
    
    <div class="row"> 

        <div class="col-1" style="background-color: darkgreen">
                <div class= "leftMenu">Channels </div>

                <app-list-channel>
            
                </app-list-channel>

        </div>

        <div class ="col-10" >
                <form class="login" [formGroup]="model" *ngIf="isSubmit === false">
                        <h1>Bienvenue dans ce tpChat</h1>
                        <h2>Un projet Angular B3C2 by T.D </h2>
            
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Votre pseudonyme ?" formControlName="pseudo">
                        </mat-form-field>  
                        
                        <button mat-raised-button color="warn" type="submit" (click)="sendForm()">Valider</button>
            
            
            
                    </form>
            
                    <div *ngIf="isSubmit===true">
            
                        <app-list-message>
            
                        </app-list-message>
            
                        </div>

        

        </div>

    </div>
</div>