<!-- LA ZONE QUI AFFICHE RECURSIVEMENT TOUS LES MESSAGES-->
<app-message
  *ngFor="let message of messages"
  [message]="message"
></app-message>




<!--LA ZONE D'AJOUT DE NOUVEAU MESSAGE-->
<div class="form_add_message">
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="newMessageContent"
      class="form-control"
      placeholder="Nouveau Message"
      aria-label="Nouveau Message"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="addMessage()"
        type="button"
      >
        Ajouter
      </button>
    </div>
  </div>
</div>
